<div class="row">
  <div class="col-md-8">
    <div class="media">
      <br />
      <% avatar_url = @user.avatar_url(128) %>
      <% if avatar_url %>
        <div class="media-left">
          <%= image_tag avatar_url, class: 'media-object' %>
        </div>
      <% end %>
      <div class="media-body">
        <h2 class="media-heading"><%= @user.name %></h2>
        <small>
          <%= pluralize(@user.posts.count, 'post') %>,
          <%= pluralize(@user.comments.count, 'comment') %>
        </small>
      </div>
    </div>
  </div>
</div>

<h2>Posts</h2>
<!-- This works because if @user.posts is empty, then render @user.posts returns nil -->
<%= render @user.posts || content_tag(:p) do %>
  <p>Sorry, <%= @user.name %> has not submitted any posts yet.</p>
<% end %>

<h2>Favorite Posts</h2>
<% if @favorite_posts.count == 0 %>
  <p>Sorry, <%= @user.name %> has not favorited any posts yet.</p>
<% else %>
  <div class="favorite-posts">
    <%= render partial: 'posts/favorite_post', collection: @favorite_posts, as: :post %>
  </div> 
<% end %>

<% if @user.comments.count == 0 %>
  <h2>Comments</h2>
  <p>Sorry, <%= @user.name %> has not submitted any comments yet.</p>
<% else %>
  <h2>Comments</h2>
  <%= render @user.comments %>
<% end %>

